
<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <h5>Lista de Todos os documentos da empresa Selecionada</h5>
                </div>
                <div class="col-md-2 mt-1">
                    <a href="consultar-empresa" class="btn btn-success">Voltar</a>
                </div>
            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar por Documentos" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_epi" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>QTD</th>
                            <th>Funcionário</th>
                            <th>CPF</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th>Nº</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of  documentosfree  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresas, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{e.nome}}</td>
                            <td>{{e.cpf | uppercase}}</td>
                            <td style="font-size: 12px;">{{e?.datainicio | date: 'dd/MM/yyyy'}}</td>
                            <td style="font-size: 12px;">{{e?.vigencia | date: 'dd/MM/yyyy'}}</td>
                            <td>{{e.numerodocumentofree ? e.numerodocumentofree : ''}}</td>


                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>
                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">                 

                                <li><a class="dropdown-item btn btn-success" 
                                [routerLink]="['/editar-documentos-free-funcionario', e.idDocFreeFuncionario]">
                                Editar</a></li>  
                                <li><a class="dropdown-item btn btn-success" (click)="excluirDocumentosFree(e.idDocFreeFuncionario, e.numerodocumentofree)">Excluir</a></li>      
                            
                             

                                  
                            </ul>   
                            <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                          Gerar Documentos
                        </button>
                        <ul class="dropdown-menu btn-sm border dropdown-menu-success">                  
                          <li><a class="dropdown-item btn btn-success" 
                            [routerLink]="['/gerar-ordem-de-servico-free', e.idDocFreeFuncionario]">
                            Ordem de Serviço</a></li>  
                            <li><a class="dropdown-item btn btn-success" 
                                [routerLink]="['/gerar-ficha-de-epi-free', e.idDocFreeFuncionario]">
                                Ficha de EPI</a></li>          
                        </ul>   
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                Quantidade de Documentos: {{( documentosfree).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
