<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <h5  >Lista de Atendimentos</h5>
                </div>
                <div class="col-md-2 mt-3">
                    <a href="consultar-credenciados" class="btn btn-success">Voltar</a>
                    
                </div>

            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar Agenda deste Credenciado" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_epi" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Status</th>
                            <th>Link</th>
                            <th>Profissional</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of atendimentos  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresa">
                            <td>{{e?.tipo }}</td>
                            <td>     {{e?.status}}</td>
                            <td>{{e?.link }}</td>
                            <td>{{e.profissional}}</td>

                         

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
                                <li><a  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/editar-atendimento', e.idAtendimento]">
                                    Editar</a></li>

                                    <li><a  class="dropdown-item btn btn-success" 
                                        [routerLink]="['/criar-anamnese', e.idAtendimento]">
                                        Criar Anamnese</a></li>

                                        <li><a  class="dropdown-item btn btn-success" 
                                            [routerLink]="['/criar-aso', e.idAtendimento]">
                                            Criar Aso</a></li>
                          
                                
                        
                            </ul>   
                          
                             


                         
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>    
                            <td colspan="6">
                                Quantidade de Atendimentos: {{(atendimentos).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
