<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h5>Editar Agenda</h5>
                    <p>Preencha os campos para editar a Agenda do Credenciado.</p>
                </div>
                <div class="col-md-2 mt-1">
                    <a href="/consultar-credenciados" class="btn btn-success">Voltar</a>
                </div>
            </div>

            <div *ngIf="cadastroSucesso !== null" class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{ cadastroSucesso }}</strong>
                <button type="button" class="btn-close" aria-label="Close" (click)="cadastroSucesso = null"></button>
              </div>
              
              <div *ngIf="cadastroErro !== null" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ cadastroErro }}</strong>
                <button type="button" class="btn-close" aria-label="Close" (click)="cadastroErro = null"></button>
              </div>
              
              <form (ngSubmit)="editarAgendaCredenciados()" [formGroup]="formularioExames">
                <input type="hidden" formControlName="idAgenda" />
              
                <div class="row mb-2">
               
                  
                
                  <div class="col-md-3 mt-3"> <label>Data</label> <input type="datetime-local"  formControlName="dia_hora" class="form-control" /></div>
                 
                 
                  <div class="col-md-3 mt-3">
                    <label>Status:</label>                      
                    <select class="form-select" 
                    formControlName="status"
                    aria-label="Default select example">
                        <option value="Cancelada">Cancelada</option>
                        <option value="Não há vagas nesta Agenda">Não há vagas nesta Agenda</option>
                        <option value="Há vagas nesta Agenda">Há vagas nesta Agenda</option>

                    </select>
                </div>
                 
                  <div class="col-md-12 mt-3" >
                    <label>Observações Gerais:</label>                      
                   <textarea class="form-control" id="exampleTextarea" rows="5" formControlName="observacoes_agenda"></textarea>
              </div> 
                </div>
              
                <div class="form-group col-md-6 mt-4">
                  <button type="submit" class="btn btn-success">Editar Agenda</button>
                </div>
              </form>
              
        </div>
    </div>
</div>
