<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-9 mt-1">
                    <h5>Lista de Todas as Avaliações</h5>
                </div>
                <div class="col-md-3 mt-1">
                    <a href="consultar-funcaodoc" class="btn btn-success">Voltar</a>
                </div>
            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar por Epi" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_epi" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>QTD</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of  funcaoid  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresas, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{e.nome_avaliacoes_funcao}}</td>
                            <td>{{e.tipo_avaliacoes_funcao | uppercase}}</td>
                            <td>{{e.descricao_avaliacoes_funcao | uppercase}}</td>

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
              

                                
                              <li><a href="/editar-avaliacao-funcaodoc/"  class="dropdown-item btn btn-danger" 
                                [routerLink]="['/editar-avaliacao-funcaodoc/', e.idAvaliacoes_funcao]">
                                Editar</a></li>

                                
                                <li><a class="dropdown-item btn btn-success" (click)="excluirAvaliacao(e.idAvaliacoes_funcao, e.nome_avaliacoes_funcao)">Excluir</a></li>

                             
                                  

                        
                            </ul>   
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                Quantidade de Avaliação Ocupacional: {{( funcaoid).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
