<app-navbar></app-navbar>
<div class="container mt-3">

    <div class="card">
        <div class="card-body">

            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <h5>Lista de Funcionários</h5>
                            </div>
                                  <div class="col-md-2 mt-1">
                                <a href="consultar-empresa" class="btn btn-success">Voltar</a>

                                        </div>
                                                   </div>



            <div class="table-responsive mt-4">
              

                <table id="consulta_empresas" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Funcao</th>

                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let e of empresas  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresas, index as i">    
                            <td>{{e.nome}}</td>
                            <td>{{e.cpf}}</td>
                            <td>{{e.rg}}</td>
                            <td>{{e.funcao?.nome_da_funcao}}</td>

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
              

                                
                              <li><a href="/editar-funcionario"  class="dropdown-item btn btn-success" 
                                [routerLink]="['/editar-funcionario', e.idFuncionario]">
                                Editar</a></li>

                                <li><a  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/gerar-ordem-de-servico', e.idFuncionario]">
                                    Gerar Ordem de Serviço</a></li>
                            


                                <li><a  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/gerar-ficha-de-epi', e.idFuncionario]">
                                    Gerar Ficha de Epi</a></li>

                                    <li><a  class="dropdown-item btn btn-success" 
                                        [routerLink]="['/criar-documentos-free-funcionario', e.idFuncionario]">
                                        Criar documentosFree</a></li>

                                        <li><a  class="dropdown-item btn btn-success" 
                                            [routerLink]="['/consultar-documentos-free-funcionario', e.idFuncionario]">
                                            Consultar documentosFree</a></li>
                            </ul>   
                            </td>
                            </tr>

                           

                          

                    </tbody>
                </table>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            Quantidade de Funcionários: {{(empresas).length}}
                            <pagination-controls 
                                (pageChange)="paginaAtual1 = $event"
                                previousLabel="Página anterior"
                                nextLabel="Próxima página"
                                [maxSize]="5" 
                                [itemsPerPage]="itensPorPagina">
                            </pagination-controls> 
                        </td>
                    </tr>
                </tfoot>
            </div>


        </div>

    </div>
</div>
