<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <h5  >Participantes deste Evento</h5>
                </div>
                <div class="col-md-2 mt-3">
                    <a href="consultar-evento" class="btn btn-success">Voltar</a>
                    
                </div>

            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar Eventos" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_epi" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Email</th>
                            <th>Whatsapp</th>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>Segmento</th>

                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of eventos  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresa">
                            <td>{{e?.nome}}</td>
                            <td>{{e?.funcao}}</td>
                            <td>{{e?.email}}</td>
                            <td>{{e?.whatsapp}}</td>
                            <td>{{e?.empresa}}</td>
                            <td>{{e?.cnpj}}</td>
                            <td>{{e?.segmento}}</td>



                         

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
                                <li><a  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/editar-participante', e.idParticipante]">
                                    Editar</a></li>

                              

                                        <li><a  class="dropdown-item btn btn-success" 
                                            [routerLink]="['/criar-participante', e.idParticipante]">
                                            Excluir</a></li>
                          
                                
                        
                            </ul>   
                          
                             


                         
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                Quantidade de Participantes: {{(eventos).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
