<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h5>Criar Potencial de Severidade</h5>
                    <p>Preencha os campos para criar potencial de Severidade.</p>
                </div>
                <div class="col-md-2 mt-1">
                    <a href="consultar-riscos" class="btn btn-success">Voltar</a>
                </div>
            </div>

            <div *ngIf="cadastroSucesso !== null" class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{ cadastroSucesso }}</strong>
                <button type="button" class="btn-close" aria-label="Close" (click)="cadastroSucesso = null"></button>
            </div>
              
            <div *ngIf="cadastroErro !== null" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ cadastroErro }}</strong>
                <button type="button" class="btn-close" aria-label="Close" (click)="cadastroErro = null"></button>
            </div>
            <hr />

            <form (ngSubmit)="criarPotencialDeSeveridade()" [formGroup]="formPotencial">
                <input type="hidden" formControlName="idRisco">
                
                <div class="row mb-2">
                    <div class="col-md-6     mt-3">
                        <label for="grupo">Categoria do Risco:</label>
                        <select class="form-select" 
                        formControlName="categoria_potencial_severidade"
                        aria-label="Default select example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    
                    <div class="col-md-6 mt-3">
                        <label for="grupo">Tipo:</label>
                        <select class="form-select" 
                        formControlName="tipo"
                        aria-label="Default select example">
                            <option value="Desprezivel">Desprezivel</option>
                            <option value="Não Desprezivel">Não Desprezivel</option>

                        </select>
                    </div>
                    
   
                    <div class="form-group col-md-12 mt-3">
                        <label for="caracteristicas_potencial_severidade">Características</label>
                        <textarea id="caracteristicas_potencial_severidade" formControlName="caracteristicas_potencial_severidade" class="form-control" rows="5"></textarea>
                    </div>
                    
                </div>
             
                <div class="form-group col-md-6 mt-4">
                    <button type="submit" class="btn btn-success">Criar Potencial de Severidade</button>
                </div>
            </form>
        </div>
    </div>
</div>
