<app-navbar></app-navbar>

<div class="container mt-3">

    <div class="card">
        <div class="card-body">

            <div class="row mb-2 mt-4">
                <div class="col-md-9 mt-1">
                    <h5>Lista de Todos os Riscos</h5>
                </div>
             
            </div>
            <hr />
			
			  <div class="row mb-2">

                <div class="col-md-7">
                  
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar Riscos" />
                </div>
            </div>


         
              <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>QTD</th>
                            <th>Grupo</th>
                            <th>Tipo</th>
                            <th>Fonte Geradora</th>
                            <th>Cor</th>
                            <th>Operações</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of riscos | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresas; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{r.grupo}}</td>
                            <td>{{r.tipo | uppercase}}</td>
                            <td>{{r.fonte_geradora | uppercase}}</td>
                            <td>{{r.cor}}</td>
                        
                            <td>

                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
              

                                
                              <li><a href="/editar-riscos"  class="dropdown-item btn btn-danger" 
                                [routerLink]="['/editar-riscos', r.idRisco]">
                                Editar</a></li>

                                
                                <li><a class="dropdown-item btn btn-success" (click)="excluirRiscos(r.idRisco, r.tipo)">Excluir</a></li>

                                
                                <li><a href="/criar-danos-riscos"  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/criar-danos-riscos', r.idRisco]">
                                   Criar Danos</a></li>
    
                                <li><a href="/criar-probabilidade-de-ocorrencia-riscos"  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/criar-probabilidade-de-ocorrencia-riscos', r.idRisco]">
                                    Criar Probabilidade de Ocorrência</a></li>
    
                                    
    
                                    <li><a href="/criar-nivel-de-severidade-riscos"  class="dropdown-item btn btn-success" 
                                        [routerLink]="['/criar-nivel-de-severidade-riscos', r.idRisco]">
                                        Criar Nivel de Severidade</a></li>
        
                                        <li><a href="/criar-medidas-de-controle-riscos"  class="dropdown-item btn btn-success" 
                                            [routerLink]="['/criar-medidas-de-controle-riscos', r.idRisco]">
                                        Criar Medidas de Controle</a></li>
                                            
                                            <li><a href="/criar-potencial-de-severidade-riscos"  class="dropdown-item btn btn-success" 
                                                [routerLink]="['/criar-potencial-de-severidade-riscos', r.idRisco]">
                                               Criar Potencial de Severidade</a></li>
        
                                            
            
                                                     
                                  

                        
                            </ul>    
                            
                            
                            <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                          Consultar
                        </button>


                        <ul class="dropdown-menu btn-sm border dropdown-menu-success">

                              
                            <li><a href="/consultar-danos-riscos"  class="dropdown-item btn btn-success" 
                                [routerLink]="['/consultar-danos-riscos', r.idRisco]">
                                Danos</a></li>

                            <li><a href="/consultar-probabilidade-de-ocorrencia-riscos"  class="dropdown-item btn btn-success" 
                                [routerLink]="['/consultar-probabilidade-de-ocorrencia-riscos', r.idRisco]">
                                Probabilidade de Ocorrência</a></li>

                                

                                <li><a href="/consultar-nivel-de-severidade-riscos"  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/consultar-nivel-de-severidade-riscos', r.idRisco]">
                                    Nivel de Severidade</a></li>
    
                                    <li><a href="/consultar-medidas-de-controle-riscos"  class="dropdown-item btn btn-success" 
                                        [routerLink]="['/consultar-medidas-de-controle-riscos', r.idRisco]">
                                    Medidas de Controle</a></li>
                                        
                                        <li><a href="/consultar-potencial-de-severidade-riscos"  class="dropdown-item btn btn-success" 
                                            [routerLink]="['/consultar-potencial-de-severidade-riscos', r.idRisco]">
                                            Potencial de Severidade</a></li>

                                        </ul>    

                        </td>                  
                    </tr>
                </tbody>
                   <tfoot>
                    <tr>
                        <td colspan="5">
                            Quantidade de Riscos: {{(riscos).length}}
                            <pagination-controls 
                            (pageChange)="paginaAtual1 = $event"
                            previousLabel="Página anterior"
                            nextLabel="Próxima página"
                            [maxSize]="10" 
                            [itemsPerPage1]="itensPorPagina" 
                          ></pagination-controls> 
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
</div>

</div>v