<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5>Criar Usuário</h5>
                    <p>Preencha os campos para incluir um usuário.</p>
                </div>
                <div class="col-md-3 mt-1">
                    <a href="consultar-chamado" class="btn btn-success">Voltar</a>
                </div>
            </div>
            <hr />
            <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{ mensagem }}</strong>
                <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
            </div>
            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3 mt-2">
                        <label for="formFile" class="form-label">Perfil</label>
                        <select class="form-select" formControlName="id">
                            <option [value]="p.id" *ngFor="let p of perfis">
                                {{ p?.nome }}
                            </option>
                        </select>
                    </div>


                    <div class="col-md-3 mt-2">
                        <label for="inputNome" class="form-label">Nome do usuário:</label>
                        <input type="text" class="form-control" id="inputNome" formControlName="nome">
                    </div>
                    <div class="col-md-3 mt-2">
                        <label for="inputEmail" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="inputEmail" formControlName="email">
                    </div>
                    <div class="col-md-3 mt-2">
                        <label for="inputPassword" class="form-label">Senha:</label>
                        <input type="password" class="form-control" id="inputPassword" formControlName="senha">
                    </div>
                </div>
                <div class="row mb-2 mt-3">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">Realizar Cadastro</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
