<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <button type="button" class="btn btn-light">Lista de Todas as Etapas do Documento Selecionado</button>
                </div>

                <div class="col-md-2 mt-1">
                    <a href="consultar-empresa" class="btn btn-success">Voltar</a>
                </div>
           
            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar as Etapas do Cenário Selecionado" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_perigo" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>QTD</th>
                            <th>Número</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of documentosfree  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresas, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{r?.numero_etapa | uppercase}}</td>
                            <td>{{r?.nome_etapa | uppercase}}</td>
                            <td>{{r?.descricao_etapa | uppercase}}</td>
                            <td>{{r?.acoes| uppercase}}</td>

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>
                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">                                
                              <li><a href="/editar-etapas"  class="dropdown-item btn btn-success" 
                                [routerLink]="['/editar-etapas', r.idEtapas]">
                                Editar</a></li>
                                <li><a class="dropdown-item btn btn-success" 
                                    (click)="excluirDocumentosFree(r.idEtapas, r.nome_etapa)">
                                Excluir
                                </a></li>      

                                 
                            </ul>   

                      
                           
    
                              

                    
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                Quantidade de Cenário: {{(documentosfree).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
