<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="card mt-5">
    <div class="card-body">
      <div class="row mb-2 mt-4">
        <div class="col-md-10 mt-1">
          <h5>Editar Relatório</h5>
          <p>Preencha os campos para editar um Relatório.</p>
        </div>

        <div class="col-md-2 mt-1">
          <a href="consultar-relatorios" class="btn btn-success">Voltar</a>
          
      </div>
      
      </div>
      <div *ngIf="cadastroSucesso" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{cadastroSucesso}}</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="cadastroSucesso = ''"></button>
      </div>

      <div *ngIf="cadastroErro" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{cadastroErro}}</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="cadastroErro = ''"></button>
      </div>

      <hr />

      <form [formGroup]="formularioRelatorio" (ngSubmit)="editarRelatorios()">
        <input type="hidden" formControlName="idRelatorios">

        <div class="row">
          <div class="col-md-4">
            <label>Data de Inicio</label>
            <input type="datetime-local" formControlName="datainicio" class="form-control" />
          </div>
          <div class="col-md-4">
            <label>Data de Fim</label>
            <input type="datetime-local" formControlName="vigencia" class="form-control" />
          </div>

          <div class="col-md-4">
            <label>Tipo de Relatório</label>
            <select class="form-select" formControlName="nome_relatorio" aria-label="Default select example">
              <option value="Todos os Modelos de Relatórios">Todos os Modelos de Relatórios</option>
            </select>
          </div>

          <div class="col-md-12 mt-4">
            <label>Descrição dos Relatórios:</label>
            <textarea class="form-control" id="exampleTextarea" rows="5" formControlName="descricao_relatorio"></textarea>
          </div>
        </div>

        <div class="row mb-2 mt-5">
          <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Editar Relatório" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
