<div class=" mt-3" *ngFor="let  e of aso ">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="font-size: 12px; text-align: center;">
                    
                    ASO - ATESTADO DE SAÚDE OCUPACIONAL

               <br>
               (ARTIGO 168 DA CLT- NR-7 - PORTARIA Nº 8 DE 08 DE MAIO DE 1996)

                </th>
    
            </tr>
        </thead>
    </table>

    

        <div>             
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 12px;">EMPRESA
                        <br>
                        <strong> <td> Razão Social: {{e?.razaosocial}}</td> </strong> <br>
                        <strong> <td> CNPJ: {{e?.cnpj  }}</td> </strong> <br>
                        <strong> <td> Endereço: {{e?.logradouro}}, {{e?.numero}} -  
                            {{e?.complemento}},  {{e?.bairro}} - CEP: {{e?.cep}}.
                        </td> </strong> <br>
                        <strong> <td> CIDADE / UF: {{e?.localidade}} - {{e?.uf}}
                        </td> </strong> <br>
                    </th>
        
                </tr>
            </thead>
           
            
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 12px;">IDENTIFICAÇÃO DO COLABORADOR 

                        <br>
                        <strong> <td> Colaborador: {{e?.nome}}</td> </strong> <br>
                        <strong> <td> CPF: {{e?.cpf  }}</td> </strong> <br>
                        <strong> <td> RG: {{e?.rg}}  
                        </td> </strong> <br>
                        <strong> <td> Função: {{e?.funcao}}
                        </td> </strong> <br>
                        <strong> <td> Setor: {{e?.setor}}
                        </td> </strong> <br>
                        <strong> <td> Data de Nascimento: {{e?.data_nascimento_funcionario | date: 'dd/MM/yyyy'  }}
                        </td> </strong> <br>
                    </th><br>
 
                </tr>
            </thead>
           
            
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 12px;">IDENTIFICAÇÃO DO MÉDICO COORDENADOR DO PCMSO

                        <br>
                        <strong> <td> Médico: {{e?.medico_trabalho}}</td> </strong> <br>
                        <strong> <td> CPF: {{e?.cpf_medico_trabalho }}</td> </strong> <br>
                        <strong> <td> CRM: {{e?.crm_medico_trabalho}}  
                        </td> </strong> <br>
 
                </tr>
            </thead>
           
            
        </table>
        <table class="table table-bordered">
            <thead><tr> <th style="font-size: 12px;">EXAME MÉDICO OCUPACIONAL  <br>
            <strong> <td> O Atestado de Saúde Ocupacional realizado é o {{e?.tipo_aso}} </td> </strong> <br></tr>
            </thead>    
        </table>
                                          
        <table class="table table-bordered">
            <thead><tr> <th style="font-size: 12px;">AVALIAÇÃO CLÍNICA E EXAMES REALIZADOS   <br>
            </thead>    
            
        </table>  
        
        <table class="table table-bordered">
            <thead><tr> 
                <th style="font-size: 12px;">Exame</th>
                <th style="font-size: 12px;">Data</th>
                <th style="font-size: 12px;">Exame</th>
                <th style="font-size: 12px;">Data</th>
            </thead> 
            <tbody>
                <tr> 
                    <td style="font-size: 12px;">
                        <strong>{{e?.exame_clinico}}
                        <br>{{e?.acuidadevisual}}<br>
                        {{e?.avaliacao_psicossocial}}<br>
                        {{e?.eletrocardiograma}}<br>
                        {{e?.eletroencefalograma}}<br>
                        {{e?.espirometria}}<br>
                        {{e?.glicemia}}<br>
                        {{e?.audiometria}}<br>
                        {{e?.fator_rh}}<br>
                        {{e?.grupo_sanguineo}}<br>
                        {{e?.hemograma_completo}}<br>



                    </strong>

                        </td> 
                        <td style="font-size: 12px;">
                            <strong>{{e?.data_exame_clinico | date: 'dd/MM/yyyy'}} <br>
                                {{e?.data_acuidadevisual | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_avaliacao_psicossocial | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_eletrocardiograma | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_eletroencefalograma | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_espirometria | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_glicemia | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_audiometria | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_fator_rh | date: 'dd/MM/yyyy'}}<br>
                                {{e?.data_grupo_sanguineo | date: 'dd/MM/yyyy'  }}<br>
                            </strong>
                            </td> 
                            <td style="font-size: 12px;">
                                <strong>{{e?.testeromberg}}<br>
                                {{e?.raio_x_lombo_sacra}}<br>
                                {{e?.raio_x_joelho_direito}}<br>
                                {{e?.raio_x_joelho_esquerdo}}<br>
                                {{e?.raio_x_joelho_coxofemorais_direito}}<br>
                                {{e?.raio_x_joelho_coxofemorais_esquerdo}}<br>
                                {{e?.raio_x_ombro}}<br>
                                {{e?.acido_s_fenil_mercapturico}}<br>
                                {{e?.acido_s_acido_hipurico}}<br>
                                {{e?.acido_trans_muconico}}

                                
                                </strong>
                                </td> 
                                <td style="font-size: 12px;">
                                    <strong>{{e?.data_testeromberg | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_lombo_sacra | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_joelho_direito | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_joelho_esquerdo | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_joelho_coxofemorais_direito | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_joelho_coxofemorais_esquerdo | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_raio_x_ombro | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_acido_s_fenilmercapturico | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_acido_hipurico | date: 'dd/MM/yyyy'}}<br>
                                    {{e?.data_acido_trans_muconico | date: 'dd/MM/yyyy'}}	
                                    </strong>
                                    </td> 
            
        
                </tr>                  
            </tbody>    
        </table>
                               
        <table class="table table-bordered">
            <thead><tr> 
                <th style="font-size: 12px;"><strong>PERIGOS / FATORES DE RISCO</strong> <br>
                   <strong> ACIDENTES:</strong> TRABALHO EM ALTURA (+2,00M) / PICADA DE ANIMAIS PEÇONHENTOS / FALHA NA INADEQUAÇÃO DOS EQUIPAMENTOS DE PROTEÇÃO INDIVIDUAL OU COLETIVA / QUEDA DE OBJETOS
ESCORREGÕES / TROPEÇOS / QUEDA / QUEDA DE OBJETOS E MATERIAISx
<br><strong>ERGONÔMICO:</strong> POSTURA INADEQUADA / ESFORÇO REPETITIVO / LEVANTAMENTO DE PESO / TRANSPORTE MANUAL DE CARGA
<br><strong>QUÍMICO:</strong> INTOXICAÇÃO / PROBLEMAS CUTÂNEOS / POEIRA
<br><strong>BIOLÓGICO:</strong> FUNGOS / BACTÉRIAS
<br><strong>FISÍCO  :</strong>RUÍDO / RADIAÇÃO NÃO IONIZANTE / ULTRAVIOLETA (RADIAÇÃO NÃO INFRA VERMELHO)

</th>    

            </thead>    
            
        </table>                   


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 12px;">PARECER DO MÉDICO EXAMINADOR
                        <br>
                        {{e?.parecer_medico}} <br>
{{e?.parecer_medico_altura}} <br>
{{e?.parecer_medico_confinado}} <br>
{{e?.parecer_medico_atividade_subaquatica}}

                   
 
                </tr>
            </thead>
           
            
        </table>          
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-size: 12px;">OBSERVAÇÕES
                        <br>
                        {{e?.observacoes}}





 <br>


                   
 
                </tr>
            </thead>
           
            
        </table>  
      
<div class="row">

    <div class="col-md-5 mt-1 mb-1 center">
    </div>
    <div class="col-md-4 mt-1 mb-1 center">
        <button (click)="printPage()">ASO</button>
    </div>   
    <div class="col-md-3 mt-1 mb-1 center">
    </div>
</div>




