<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-2 mt-4">
                <div class="col-md-10 mt-1">
                    <h5>Lista de Todos os Relatórios</h5>
                </div>
                <div class="col-md-2 mt-3">
                    <a href="criar-exames" class="btn btn-success">Criar Exames</a>
                    
                </div>

            </div>
            <hr />
            <div class="row mb-2">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_empresas"
                        placeholder="Pesquisar Exames" />
                </div>
            </div>
            <hr />
            <div class="table-responsive mt-2">
                <table id="consulta_epi" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Descrição</th> <!-- Nova coluna -->
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of  exames  | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual1 } | ngxSearchPipe:filtro.nome_empresa">
                            <td>{{e.nome_exame }}</td>
                            <td>{{e.tipo_exame}}</td>
                            <td>{{e.descricao_exame}}</td>

                         

                            <td>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                              Ações
                            </button>


                            <ul class="dropdown-menu btn-sm border dropdown-menu-success">
                            
                                <li><a  class="dropdown-item btn btn-success" 
                                    [routerLink]="['/editar-exames', e.idExames]">
                                    Editar</a></li>

                                    <li><a class="dropdown-item btn btn-sm btn-success"
                                        (click)="excluirExames(e.idExames, e.nome_exame)"
                                        > Excluir</a>

                              
                            </ul>   
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                Quantidade de Relatórios: {{(exames).length}}
                                <pagination-controls 
                                    (pageChange)="paginaAtual1 = $event"
                                    previousLabel="Página anterior"
                                    nextLabel="Próxima página"
                                    [maxSize]="10" 
                                    [itemsPerPage]="itensPorPagina">
                                </pagination-controls> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
